<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{#title}}{{.}} - {{/title}}</title>
	<link rel="icon" type="image/png" href="/favicon.png" />
  {{#production}}
	  <link rel="stylesheet" type="text/css" href="/assets/main{{version}}.css" />
  {{/production}}
  {{^production}}
	  <link rel="stylesheet/less" type="text/css" href="/assets/less/index.less" />

	  <script type="text/javascript">
		  less = {
			  env: "development"
		  };
	  </script>
	  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.3.3/less.min.js"></script>
  {{/production}}

	<link rel="stylesheet" type="text/css" href="/shared/tags{{version}}.css" />
	<link rel="stylesheet" type="text/css" href="/assets/vendor/nvd3/src/nv.d3.css" />

	<script data-main="/assets/js/app" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js"></script>
</head>
