// Generic

html,
body {
  padding: .35em .3em;
}

.vertical-align-middle,
.table tbody > tr > td.vertical-align-middle,
.table-vertical-align-middle tbody > tr > td {
  vertical-align: middle;
}

a.external {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeF59z4EJADEIQ1F36k7u5E7ZKXeUQPACJ3wK7UNokVxVk9kHnQH7bY9hbDyDhNXgjpRLqFlo4M2GgfyJHhjq8V4agfrgPQX3JtJQGbofmCHgA/nAKks+JAjFAAAAAElFTkSuQmCC") no-repeat right center ;
  padding-right: 14px;
}
.favicon {
  width: 16px;
  height: 16px;
}

// Channel list.

.channels {
  .list-group-item  {
	padding-left: 10px;
  }
  .icon {
	  font-size: .9em;
  }
  .list-group-item-heading {
	margin-bottom: 0;
  }
}